<section id="diferenciais">
  <div class="container">
    <div class="col-lg-4 col-md-10 cartola">
      <h6>DIFERENCIAIS</h6>
      <h3>Conhecimento e experiência a serviço do <b>agronegócio</b><i class="fas fa-angle-right"></i></h3>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row diferenciais-list">
          <div class="col-lg-2 col-md-4 col-sm-6">
            <%= render 'capa/diferenciais/diferencial_1' %>
            <p>Nova geração de pesquisadores especializados em proteção de plantas.</p>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <%= render 'capa/diferenciais/diferencial_2' %>
            <p>Paixão pela ciência, tecnologia, inovação e, claro, pelo agronegócio.</p>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <%= render 'capa/diferenciais/diferencial_3' %>
            <p>Vasta experiência acadêmica e profissional.</p>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <%= render 'capa/diferenciais/diferencial_4' %>
            <p>Compromisso total com a satisfação de cada um de nossos clientes.</p>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <%= render 'capa/diferenciais/diferencial_5' %>
            <p>Segurança e confidencialidade no tratamento de seus dados.</p>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <%= render 'capa/diferenciais/diferencial_6' %>
            <p>Pontualidade na entrega dos resultados.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
