<section id="formulario">
  <div class="container">
    <div class="row">
      <div class="cartola_formulario col-12 col-md-4 col-lg-4" style="">
        <div class="cartola">
          <h6>FALE CONOSCO</h6>
          <h3>E descubra como <b>podemos ajudar</b> você ou sua <br>empresa<i class="fas fa-angle-right"></i></h3>
          <a href="#localizacao" class="botao" data-fancybox="passofundo"><button type="button" class="botaomapa cd-btn main-action" name="button">MAPA DE LOCALIZAÇÃO <svg version="1.1" id="Capa_1" class="iconbotao" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="12" height="15" viewBox="0 0 121.89 153.07" enable-background="new 0 0 121.89 153.07" xml:space="preserve">
            <g>
              <path fill="#FFFFFF" d="M58.365,82.553c-14.434,0-26.179-11.746-26.179-26.185c0-14.438,11.741-26.184,26.179-26.184
              s26.179,11.746,26.179,26.184C84.544,70.807,72.798,82.553,58.365,82.553z M58.365,34.8c-11.894,0-21.57,9.676-21.57,21.574
              s9.676,21.574,21.57,21.574c11.893,0,21.57-9.676,21.57-21.574S70.258,34.8,58.365,34.8z"/>
              <g>
                <path fill="#FFFFFF" d="M58.365,153.07c-0.683,0-1.328-0.3-1.766-0.825C54.368,149.585,2,86.716,2,56.374
                C2,25.29,27.285,0,58.365,0s56.365,25.29,56.365,56.374c0,30.347-52.368,93.211-54.595,95.875
                C59.692,152.77,59.042,153.07,58.365,153.07z M58.365,4.61C29.825,4.61,6.61,27.83,6.61,56.374
                c0,25.682,42.484,79.358,51.755,90.759c9.265-11.405,51.754-65.082,51.754-90.759C110.114,27.83,86.899,4.61,58.365,4.61z"/>
              </g>
            </g>
          </svg></button></a>
        </div>
        <div class="forminfo2">
          <div class="subinfo"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class="svgform"
            width="22px" height="22px" class="svgmenu" viewBox="0 0 595.279 841.891" enable-background="new 0 0 595.279 841.891"
            xml:space="preserve">
            <g>
              <g>
                <path fill="#8ac8d3" d="M297.64,381.26c38.296,0,69.449-31.163,69.449-69.449c0-38.287-31.153-69.45-69.449-69.45
                s-69.449,31.163-69.449,69.45C228.191,350.097,259.344,381.26,297.64,381.26z M297.64,262.204
                c27.354,0,49.606,22.253,49.606,49.607c0,27.353-22.253,49.606-49.606,49.606c-27.353,0-49.606-22.253-49.606-49.606
                C248.033,284.457,270.287,262.204,297.64,262.204z"/>
                <path fill="#8ac8d3" d="M295.884,666.567L448.087,446.74c57.087-76.106,48.833-201.205-17.67-267.697
                c-35.936-35.945-83.717-55.738-134.533-55.738c-50.817,0-98.599,19.793-134.533,55.729
                c-66.503,66.493-74.758,191.591-17.898,267.399L295.884,666.567z M175.379,193.062c32.195-32.185,74.985-49.915,120.505-49.915
                c45.519,0,88.31,17.729,120.504,49.915c60.024,60.014,67.416,172.998,15.606,242.071l-136.11,196.571L159.555,434.835
                C107.964,366.06,115.365,253.076,175.379,193.062z"/>
                <path fill="#8ac8d3" d="M417.857,549.992c-5.457-0.665-10.378,3.244-11.013,8.69c-0.635,5.447,3.254,10.378,8.691,11.013
                c104.332,12.283,159.902,45.381,159.902,64.559c0,26.927-105.683,64.488-277.798,64.488S19.843,661.181,19.843,634.254
                c0-19.178,55.569-52.275,159.902-64.559c5.437-0.635,9.325-5.575,8.69-11.013c-0.645-5.446-5.565-9.375-11.013-8.69
                C72.961,562.294,0,596.939,0,634.254c0,41.907,102.239,84.331,297.64,84.331s297.64-42.424,297.64-84.331
                C595.28,596.939,522.319,562.294,417.857,549.992z"/>
              </g>
            </g>
          </svg><p><span>Estação experimental <br> Passo Fundo, RS</span></p></div>
          <div class="subinfo"><svg version="1.1" id="Isolation_Mode" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" class="svgform"
            y="0px" width="22px" height="22px" viewBox="0 0 841.889 595.281" enable-background="new 0 0 841.889 595.281"
            xml:space="preserve">
            <g>
              <path fill="#8AC8D3" d="M670.597,509.228H171.292c-26.45,0-47.987-21.518-47.987-47.987V134.02
              c0-26.47,21.537-47.987,47.987-47.987h499.305c26.451,0,47.987,21.518,47.987,47.987v327.221
              C718.584,487.711,697.048,509.228,670.597,509.228z M171.292,105.228c-15.874,0-28.792,12.918-28.792,28.792v327.221
              c0,15.874,12.918,28.793,28.792,28.793h499.305c15.874,0,28.793-12.919,28.793-28.793V134.02c0-15.874-12.919-28.792-28.793-28.792
              H171.292z"/>
              <path fill="#8AC8D3" d="M420.945,345.859c-12.765,0-25.529-4.242-35.242-12.708L139.237,118.146
              c-3.992-3.475-4.415-9.54-0.94-13.552c3.513-3.992,9.56-4.357,13.552-0.922l246.466,214.986c12.266,10.691,32.996,10.691,45.243,0
              l246.158-214.641c3.974-3.474,10.02-3.09,13.552,0.922c3.475,4.012,3.071,10.058-0.921,13.552L456.187,333.133
              C446.455,341.617,433.709,345.859,420.945,345.859z"/>
            </g>
          </svg><a href="mail:contato@atsibrasil.com.br"><p><span>contato<br>@atsibrasil.com.br</span></p></a></div>
          <!-- <div class="subinfo"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class="svgform"
          width="22px" height="22px" viewBox="0 0 841.889 595.281" enable-background="new 0 0 841.889 595.281"
          xml:space="preserve">
          <g>
          <path fill="#8AC8D3" d="M545.904,0H295.986c-24.089,0-43.703,19.615-43.703,43.704v507.863c0,24.099,19.614,43.714,43.703,43.714
          h249.908c24.099,0,43.714-19.615,43.714-43.704V43.704C589.608,19.615,569.992,0,545.904,0z M272.124,79.371h297.641v377.011
          H272.124V79.371z M295.986,19.843h249.908c13.166,0,23.871,10.705,23.871,23.861v15.824H272.124V43.704
          C272.124,30.548,282.83,19.843,295.986,19.843z M545.904,575.438H295.986c-13.155,0-23.861-10.705-23.861-23.861v-75.353h297.641
          v75.353C569.765,564.733,559.06,575.438,545.904,575.438z"/>
          <path fill="#8AC8D3" d="M420.945,486.146c-21.887,0-39.686,17.799-39.686,39.685c0,21.887,17.799,39.686,39.686,39.686
          s39.686-17.799,39.686-39.686C460.63,503.945,442.831,486.146,420.945,486.146z M420.945,545.674
          c-10.943,0-19.843-8.899-19.843-19.843c0-10.942,8.899-19.843,19.843-19.843s19.843,8.9,19.843,19.843
          C440.787,536.774,431.888,545.674,420.945,545.674z"/>
          <path fill="#8AC8D3" d="M381.259,49.607h39.686c5.486,0,9.921-4.436,9.921-9.922s-4.435-9.921-9.921-9.921h-39.686
          c-5.486,0-9.921,4.435-9.921,9.921S375.773,49.607,381.259,49.607z"/>
          <path fill="#8AC8D3" d="M450.708,49.607h9.922c5.486,0,9.921-4.436,9.921-9.922s-4.435-9.921-9.921-9.921h-9.922
          c-5.486,0-9.921,4.435-9.921,9.921S445.222,49.607,450.708,49.607z"/>
          <path fill="#8AC8D3" d="M684.971,45.331c-3.879-3.88-10.149-3.88-14.028,0c-3.88,3.879-3.88,10.149,0,14.028
          c37.065,37.066,37.065,97.378,0,134.454c-3.88,3.879-3.88,10.149,0,14.029c1.935,1.935,4.475,2.906,7.015,2.906
          c2.539,0,5.079-0.972,7.014-2.906C729.776,163.048,729.776,90.135,684.971,45.331z"/>
          <path fill="#8AC8D3" d="M643.193,67.912c-3.88-3.88-10.149-3.88-14.029,0c-3.879,3.879-3.879,10.149,0,14.028
          c12.273,12.272,19.029,28.623,19.029,46.025s-6.756,33.742-19.029,46.015c-3.879,3.88-3.879,10.15,0,14.029
          c1.935,1.935,4.475,2.907,7.015,2.907s5.08-0.973,7.015-2.907c16.022-16.014,24.843-37.344,24.843-60.044
          S659.225,83.925,643.193,67.912z"/>
          <path fill="#8AC8D3" d="M170.947,59.359c3.88-3.879,3.88-10.149,0-14.028c-3.879-3.88-10.149-3.88-14.028,0
          c-44.805,44.805-44.805,117.707,0,162.512c1.935,1.935,4.475,2.906,7.015,2.906s5.079-0.972,7.014-2.906
          c3.88-3.88,3.88-10.15,0-14.029C133.871,156.747,133.871,96.435,170.947,59.359z"/>
          <path fill="#8AC8D3" d="M212.726,65.174c-3.879-3.88-10.149-3.88-14.029,0c-16.022,16.013-24.843,37.344-24.843,60.044
          s8.82,44.03,24.843,60.054c1.935,1.935,4.475,2.907,7.015,2.907s5.08-0.973,7.015-2.907c3.879-3.88,3.879-10.149,0-14.029
          c-12.272-12.272-19.029-28.623-19.029-46.024c0-17.402,6.746-33.743,19.029-46.016C216.595,75.333,216.595,69.052,212.726,65.174z"
          />
        </g>
      </svg>
      <p><a href="tel:5430454571"><span>(54) xxxxxxxxx</span></a> <br> <a href="tel:54991666716"><span>(54) xxxxxxxxx</span></a></p></div> -->
    </div>
  </div>

  <div class="separacao col-md-1 col-lg-1 p0">

  </div>

  <div class="form col-12 col-md-7 col-lg-7" id="contact">
    <div class="padding-left">
      <%= form_for @interesse ||= Interesse.new, :url => 'interesse' do |f| %>
      <div class="group">
        <%= f.text_field :nome, {:required => "", :type => 'text'} %><span class="highlight"></span><label>NOME</label>
      </div>
      <div class="group">
        <%= f.text_field :email, {:required => "", :type => 'email'} %><span class="highlight"></span><label>EMAIL</label>
      </div>
      <div class="group">
        <%= f.text_field :telefone, {:required => "", :type => 'tel'} %><span class="highlight"></span><label>TELEFONE</label>
      </div>
      <div class="group">
        <%= f.text_area :mensagem, {:required => "", :id => "preform"} %><span class="highlight h_2"></span><label>MENSAGEM</label>
      </div>
    </div>
    <%# recaptcha_tags  %>
    <button id="sendMessage" class="botaoformulario" name="sendMessage" type="submit" style="cursor: pointer;" name="button">ENVIAR MENSAGEM <svg version="1.1" id="Isolation_Mode" xmlns="http://www.w3.org/2000/svg" class="setaright" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" width="22px" height="27px" viewBox="0 0 841.889 595.281" enable-background="new 0 0 841.889 595.281"
      xml:space="preserve">
      <polygon fill="#ffffff" points="680.291,275.863 28.265,275.865 28.265,329.96 680.302,329.957 454.734,555.521 492.984,593.776
      745.597,341.163 745.38,340.947 783.419,302.908 745.38,264.868 745.591,264.657 492.978,12.043 454.728,50.298 "/>
    </svg></button>
    <% end %>



    <% if $teste == true %>
    <div class="alert alert-success" role="alert" id="alerta">
      <p class="pform">Mensagem enviada com sucesso!</p>
    </div>
    <script type="text/javascript">
      setTimeout(function() {
        $("#alerta").fadeOut().empty();
      }, 6000);
    </script>
    <% end %>
    <% if $teste == false %>
    <div class="alert alert-danger" role="alert" id="alerta2">
      <p class="pform">Mensagem não enviada! Preencha todos os campos corretamente!</p>
    </div>
    <script type="text/javascript">
      setTimeout(function() {
        $("#alerta2").fadeOut().empty();
      }, 8000);
    </script>
    <% end %>
  </div>

</div>

</div>
<div id="localizacao" data-fancybox="passofundo" style="display:none;width:90%;height:90%">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/mapa"></iframe>
</div>
<div class="imagemrodape">
  <div class="container" style="position: relative;">
    <h3>Ajudando você a viabilizar os seus projetos e <b>potencializar</b> o seu <b>agronegócio</b>!</h3>
  </div>
  <%= image_tag 'rodape-bg.jpg', :class=>'background_rodape naoSelecionavel', :alt=>'background' %>
  <div class="rodape-info">
    <div class="container">
      <%= image_tag 'logo.svg', :class => 'logo-rodape' %>
      <p>ATSI BRASIL Pesquisa e Consultoria - 2021 Todos os direitos reservados. Proibida a cópia total ou parcial do conteúdo deste site. Desenvolvido por Criativittá Web Studio.</p>
      <a href="https://criativitta.com.br/" class="criativibottom" target="_blank"><%= image_tag 'criativitta.svg', :class=>'logocr', :alt=>'logo criativittá' %></a>
    </div>
  </div>
</div>
</section>
